[submodule "update-clock"]
	path = update-clock
	url = https://github.com/CarmeloMaitaO/update-clock.git
	branch = main
[submodule "streams"]
	path = streams
	url = https://github.com/CarmeloMaitaO/streams.git
	branch = main
[submodule "screenshot"]
	path = screenshot
	url = https://github.com/CarmeloMaitaO/screenshot.git
	branch = main
[submodule "pomodoro"]
	path = pomodoro
	url = https://github.com/CarmeloMaitaO/pomodoro.git
	branch = main
[submodule "setbg"]
	path = setbg
	url = https://github.com/CarmeloMaitaO/setbg.git
	branch = main
[submodule "volume"]
	path = volume
	url = https://github.com/CarmeloMaitaO/volume.git
	branch = main
[submodule "record"]
	path = record
	url = https://github.com/CarmeloMaitaO/record.git
	branch = main
